services:
  landscape:
    build: .
    container_name: landscape-server
    ports:
      - "8080:80"
      - "8443:443"
    hostname: landscape-server
    env_file:
      - .env.local
    restart: unless-stopped
