services:
  landscape:
    build: .
    container_name: landscape-server
    ports:
      - "8080:80"
      - "443:443"
    hostname: landscape-server
    restart: unless-stopped
    volumes:
      - landscape-data:/var/lib/landscape
    environment:
      - LANDSCAPE_FQDN=${LANDSCAPE_FQDN:-localhost}

  landscape-client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: landscape-client
    hostname: landscape-client
    environment:
      - LANDSCAPE_URL=https://landscape-server
      - ACCOUNT_NAME=standalone
      - COMPUTER_TITLE=Demo Client
    depends_on:
      - landscape
    restart: unless-stopped
    volumes:
      - landscape-data:/var/lib/landscape
    profiles:
      - with-client

volumes:
  landscape-data:
