services:
  landscape:
    build: .
    container_name: landscape-server
    ports:
      - "8080:80"
      - "8443:443"
    hostname: landscape-server
    env_file:
      - .env.local
    restart: unless-stopped

  landscape-client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: landscape-client
    hostname: landscape-client
    environment:
      - LANDSCAPE_URL=https://landscape-server
      - ACCOUNT_NAME=standalone
      - COMPUTER_TITLE=Demo Client
    depends_on:
      - landscape
    restart: unless-stopped
    profiles:
      - with-client
