---
name: Code Quality

'on':
  push:
    branches: [main]
  pull_request:

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: '.'
          severity: warning

  hadolint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile:
          - Dockerfile
          - clients/Dockerfile.client.12.04
          - clients/Dockerfile.client.14.04
          - clients/Dockerfile.client.16.04
          - clients/Dockerfile.client.18.04
          - clients/Dockerfile.client.24.04
          - clients/Dockerfile.client.25.10
    steps:
      - uses: actions/checkout@v6

      - name: Run Hadolint on ${{ matrix.dockerfile }}
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ${{ matrix.dockerfile }}
          failure-threshold: error
          ignore: DL3008

  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run yamllint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: .
          config_data: |
            extends: default
            rules:
              line-length:
                max: 120
              document-start: disable
